@import '../../style/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

.appMenu {
    
    &__content {
        margin-top: 50px;
        display: grid;
        align-items: center;
        justify-content: center;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(5, 200px);
        column-gap: 25px;
        row-gap: 30px;
    }
    &__item {
        position: relative;
        width: 200px;
        height: 318px;
        padding: 15px;
        // box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
        // border-radius: 22px;
        // background: #b2b1b1;
        transition: 0.3s transform;
        cursor: pointer;
        img {
            width: 170px;
            height: 170px;
            object-fit: cover;
            transform: translate(0px, -5px);
        }
        &_selected {
            box-shadow: 0 5px 20px $main-color;
            transform: translateY(-8px);
            border-radius: 22px;
        }
    }
    &__backgraund{
        margin: -15px 0 0 -15px;
        display: block;
        position: absolute;
        width: 200px;
        height: 190px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
        border-radius: 22px;
        background: #b2b1b1;
    }
    &__name {
        margin-top: 10px;
        font-weight: bold;
        font-size: 19px;
        line-height: 20px;
        color: #000000;
    }
    &__info {
        margin-top: 5px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 19px;
        letter-spacing: -0.02em;
        color: #60695C;
        flex: none;
        order: 1;
        flex-grow: 0;
    }
    &__buying{ 
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }
    &__price {
        margin-left: 5px;
        text-align: center;
        width: 100%;
        height: 35px;

        font-weight: 500;
        font-size: 20px;
        line-height: 45px;
        color: #1A1F16;
    }
    &__buttonImg {
        margin-left: 40px;
        img {
            margin-top: 10px;
            width: 34px;
            height: 34px;
        
            /* UI/Dark */
            background: #1A1F16;
            border-radius: 9px;
            
        }
    }
}

.categories div {
    margin-top: 30px;
    display: inline-block;
    background: #e7e6e6;
    border-radius: 50px;
    padding: 5px 20px;
    margin-bottom: 15px;
    margin-right: 15px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 500ms  ease;
}

.categories div:hover {
    background-color: silver;
    transform: scale(1.1);

}